<script src="/assets/three/three.js"></script>
<script src="/assets/three/orbitControls.js"></script>
<script src="/assets/three/datGui.js"></script>
<script src="/assets/three/stats.js"></script>
<script src="/assets/three/main.js"></script>
<style>
  #content{
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    font-family: Helvetica;
    letter-spacing: 1px;
    font-size: 11pt;
    color: #ffffff;
    padding: 20px;
    background-color: rgba(200, 200, 200, 0.2);
    width: 50%;
    margin: 0 auto;
  }
  body{
    margin: 0;
    overflow: hidden;
  }
</style>
<div id="output"></div>
